.video-player {
  position: relative;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.video-player .video-frame {
  object-fit: fill;
}

.video-player .video-controls {
  position: absolute;
  bottom: 0%;
  padding-bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  opacity: 0.1;
  transition: opacity 0.4s;
}

.video-player:hover .video-controls {
  opacity: 1;
}

.video-player .video-controls button {
  background: transparent;
  color: #fff;
  font-weight: bolder;
  text-shadow: 2px 1px 2px #000;
  border: none;
  cursor: pointer;
}

.video-player .video-controls .video-volume-bar {
  display: none;
  height: 70%;
  position: absolute;
  bottom: 110%;
  right: 2%;
  z-index: 1;
}

.video-player .video-controls .video-timeline {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
  border-right: 3px solid;
  border-left: 3px solid;
  border-color: #ccc;
}

.video-player .video-controls .video-timeline .video-bar {
  background: #010141;
  height: 35%;
  flex: 1;
}

.video-player .video-controls .video-timeline .video-bar .video-inner {
  background: #ccc;
  width: 0%;
  height: 100%;
}

.fa.fas {
  font-size: 140% !important;
}

.video-player .fullscreen-video {
  width: 100%;
  height: 100%;
}

.epic {
  border: #000;
}
