{#
/**
 * @file
 * Default theme implementation for the video_player render element.
 *
 * Available variables:
 * - attributes: (array) Attributes for the video tag.
 * - controls: (bool) Controls is active or not.
 * - activeControls: (array) Array detailing if.
 * - attachLibrary: (bool) If the library should be attached or not.
 * - preview: (bool) If the element should be a preview or not.
 *
 * @ingroup themeable
 * @ingroup videoToolBox
*/
#}
<div class="video-player">
  {% if preview == FALSE %}
  <video {{ attributes }}></video>
  {% else %}
  <img {{ attributes }}></img>
  {% endif %}
  {% if controls == TRUE and attachLibrary == TRUE %}
  <div class="video-controls">
    {% if activeControls.btn_play or preview == TRUE %}
    <button class="video-play-btn"><i class="fa fa-play"></i><i
        class="fa fa-pause"></i></button>
    {% endif %}
    {% if activeControls.btn_fwrdback or preview == TRUE %}
    <button class="video-backward-btn"><i class="fa fa-fast-backward"></i></button>
    {% endif %}
    {% if activeControls.control_bar or preview == TRUE %}
    <div class="video-timeline">
      <div class="video-bar">
        <div class="video-inner"></div>
      </div>
    </div>
    {% endif %}
    {% if activeControls.btn_fwrdback or preview == TRUE %}
    <button class="video-forward-btn"><i class="fa fa-fast-forward"></i></button>
    {% endif %}
    {% if activeControls.btn_fullscreen or preview == TRUE %}
    <button class="video-expand-btn"><i class="fa fa-expand"></i></button>
    {% endif %}
    {% if activeControls.btn_speed or preview == TRUE %}
    <button class="video-playbackrate-btn">1X</button>
    {% endif %}
    {% if activeControls.btn_sound or preview == TRUE %}
    <button class="video-volume-btn"><i class="fas fa-volume-up"></i><i class="fas fa-volume-mute"></i></button>
    {% endif %}
    {% if activeControls.btn_sound or preview == TRUE %}
    <progress class="video-volume-bar" max="100"></progress>
    {% endif %}
  </div>
  {% endif %}
</div>

{% if attachLibrary == TRUE and preview == FALSE %}
  {{ attach_library('video_toolbox/video_customization') }}
{% elseif preview == TRUE   %}
  {{ attach_library('video_toolbox/video_preview') }}
{% endif  %}
